.spacer.yellow,.section.yellow  {
	background:#f3cc08;
}

section.spacer {
	/* background: url(../img/bg/bg-2.jpg) 50% 0 no-repeat fixed; */
	width:100%;
	height:auto;
	margin:0;
}

.navbar {
    height: 80px;
    font-size: 115%;
}

.bg-red {
    background-color: red;
}
